.root {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.quote {
  font-style: italic;
}

.quote-author {
  opacity: .8;
}

.content {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.page-button {
  min-width: 300px;
  max-width: 400px;
  border: 1px solid #94A3B8;
  background-color: #E2E8F0;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border: 1px solid #94A3B8;
  background-color: #E2E8F0;
  border-radius: 5px;
  cursor: pointer;
}

.page-button:hover {
  background-color: #CBD5E1;
}
